/*
 * Wp Location Public Styles
 * Styled used for the front-end of the website
 */

/*clearfix*/
.cf:before,
.cf:after {
    content: " "; 
    display: table; /
}
.cf:after {
    clear: both;
}

/*location listing*/
.location_list{
	float: left;
	width: 100%;
}

.location_list .location{
	float: left;
	width: 100%;
}

.location_list .location img{
	margin: 0px 15px 15px 0px;
	float: left;
}

.location_list .location .phone_email{
	clear: both;
}

.alignnone {
	margin: 5px 20px 20px 0;
    float: right;
}

.icon_link{
    float: left; 
    border: none;
    list-style: none;
    font-weight: 900;
    width: 10%;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
}

.contact{
    border: 1px solid #b7d719;
    float: right;
    margin-bottom: 15px;
}